.landing-searchbar {
  min-width: 375px;
  input {
    min-width: 375px;
    background-color: #fff;
  }
}

.landing-toggle {
  // background-color: grey;
}

.landing-panel2 {
  min-height: 400px;
}

.landing-team {
  min-height: 400px;
}
