#root, .App {
  // height: 100%;
  // width: 100%;
}

body {
  margin: 0px;
}

.row {
  display: flex;
  flex-direction: row;
}
.dashboard-header {

}

.dashboard-side {
  // max-width: 400px;
  height: 100%;
}

section:not(.grommetux-section).meetup-map {
  padding-bottom: 0px;
}

.dashboard-split {
  height: calc(100% - 72px);
}

.meetup-searchbar {
  width: 100%;
  input {
    width: 100%;
  }
}

.meetup-events-list {
  height: 100%;
  margin-left: 12px;
  overflow: hidden;
  overflow-y: auto;
}

.meetup-list-item {
  border: 1px solid #333333;
  word-wrap: break-word;
}

.top20-console {
  height: 100%;
  width: 100%;
}
