// * {
//   border: solid red 1px;
// }

html {
  height: 95%;
}

#root, .App {
  height: 95%;
  width: 100%;
}

body {
  height: 95%;
  margin: 0px;
}

.row {
  display: flex;
  flex-direction: row;
}

.dashboard-side {
  max-width: 400px;
}

.meetup-map {
}

.meetup-events-list {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.meetup-list-item {
  border: 1px solid #333333;
  word-wrap: break-word;
}

.top20-console {
  height: 100%;
  width: 100%;
}

.profileTopic {
  color: #333;
}

.rep-focus {
  width: 500px;
}

.rep-photo {
  border-radius: 5px;
  width: 75%;
}
.rep-bio {
  img {
    border-radius: 5px;
    width: 100%;
  }

  h3 {
    font-size: 1.7em;
    margin-top: .35em;
    margin-bottom: 0px;
  }

  a {
    margin-top: .25em;
  }
}
