.top20-console {
  height: 100%;
  width: 100%;
}

.top20-main {
  height: calc(100% - 48px);
  margin: 12px;
}

.top20-category-selector {
  min-width: 300px;
}

.top20-cycle-selector {
  margin-left: 20px;
}

.top20-header {
  padding-top: 30px;
}

.subtle-gray-gradient {
  background: -webkit-linear-gradient(90deg, #dee1e1 10%, #f4f4f4 90%); /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #dee1e1 10%, #f4f4f4 90%); /* FF3.6+ */ background: linear-gradient(90deg, #dee1e1 10%, #f4f4f4 90%); /* W3C */
}
